    <div class="black1">
        <div class="blue2">
          <div class="text3">
             <% todos.each do |todo| %>
            <li> <%= render partial: 'todo', locals: { todo: todo } %> </li>
            <% end %>
          </div>
        </div>
      </div>
    </div>

