    <div class="body_box_outer">
        <div class="body_box_inner">

          <div class="text_body_todo">
             <% todos.each do |todo| %>
            <%= render partial: 'todo', locals: { todo: todo } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

